@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
::-webkit-scrollbar {
  width: 10px;
  background-color: #f6f6f6;
  /* outline: 2px solid rgb(208, 208, 208); */
}
::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: gray;
  border-radius: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: #fff;
  overflow-x: hidden;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.logo h1 {
  font-size: 35px;
  color: #4f6f52;
  cursor: pointer;
}
/* ------------------------------- */
/* Navbar */
/* ------------------------------- */

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10%;
  align-items: center;
  position: absolute;
  z-index: 10;
}

nav ul {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #758694;
  transition: 0.3s;
}

nav ul li a:hover,
.active {
  color: #131842;
}

.discover-btn button {
  font-size: 18px;
  padding: 10px 15px;
  background-color: #131842;
  color: #fff;
  border-radius: 25px;
  font-weight: 700;
  border: none;
  transition: 0.3s;
}

.discover-btn button:hover {
  background-color: #fff;
  color: #131842;
  outline: 1px solid #131842;
  cursor: pointer;
}

/* 131842 */

/* ------------------------------- */
/* Hero-section */
/* ------------------------------- */
.hero-section img {
  width: 100%;
  position: absolute;
  /* animation-direction: alternate;
  animation-duration: 5s; */
  top: 2rem;
  animation-timeline: scroll();
  overflow-x: hidden;
}

#clouds {
  animation-name: animate-clouds;
}

@keyframes animate-clouds {
  from {
    /* top: 5vh; */
    transform: translateY(50px);
  }
  to {
    /* top: 10vh; */
    transform: translateY(20px);
  }
}

#sun {
  animation-name: animate-sun;
}

@keyframes animate-sun {
  from {
    top: 20vh;
  }
  to {
    top: -35vh;
  }
}

#birds {
  animation-name: animate-birds;
}

@keyframes animate-birds {
  from {
    transform: translateX(20vh) translateY(20vh);
  }
  to {
    transform: translateX(-5vh) translateY(-5vh);
  }
}

#mountain {
  animation-name: animate-mountains;
}

@keyframes animate-mountains {
  from {
    top: 7vh;
  }
  to {
    top: -4vh;
  }
}

#heading,
#para {
  color: #54473f;
  font-size: 60px;
  text-align: center;
  animation-name: animate-header;
  animation-timeline: scroll();
}

@keyframes animate-header {
  from {
    top: 70vh;
  }
  to {
    top: 30vh;
  }
}

#para {
  font-size: 26px;
}

#grass {
  animation-name: animate-grass;
}

@keyframes animate-grass {
  from {
    top: 2vh;
  }
  to {
    top: 5vh;
  }
}

#water {
  animation-name: animate-water;
}

@keyframes animate-water {
  from {
    top: 5vh;
  }
  to {
    top: 0vh;
  }
}

#trees {
  animation-name: animate-trees;
  position: relative;
}

@keyframes animate-trees {
  from {
    top: -30vh;
  }
  to {
    top: -20vh;
  }
}

footer {
  background-color: #131842;
  height: 10vh;
  position: absolute;
  top: 0;
}
